    body {
        background-image: url('/static/images/compny.jpg'); 
        background-size: cover;
        background-position: center;
        background-attachment: fixed; /* عشان تتحرك الصفحة والصورة تبقى ثابتة */
    }
    .company-card {
        width: 60%;
        margin: 120px auto 40px auto;
        padding: 40px;
        border-radius: 20px;

        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);

        color: white;
        text-align: center;

        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);

        position: relative;
    }

    /* علم الدولة */
    .country-flag {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 15px;
    }

    /* السلايدر */
    .carousel-item {
        min-height: 100vh;
        padding-top: 50px;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        filter: invert(1);
    }
